body{
    background-color: rgb(3, 47, 97);    
    opacity: 0.8;
    text-align: justify;
    font-size: 15px;
}

h1{
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
}
form{
    text-align: center;
    font-size: 40px;
}

.question{
    margin: 20px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 1%;
}

footer{
    color: rgb(244, 237, 237);
    text-align: center;
    margin-bottom: 5px auto 20px;
  }

.loading{
    margin: 20px;
    color:rgb(244, 237, 237);
    text-align: center;
}

.url{
    text-align: right;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }